<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.IBMS">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.org.IBMS.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.org.IBMS.AboutActivity"
            android:label="关于" />
        <activity
            android:name="com.org.IBMS.EntranceActivity"
            android:label="门禁系统" />
        <activity
            android:name="com.org.IBMS.SafeActivity"
            android:label="设防" />
        <activity android:name="com.org.IBMS.LogActivity"
            android:label="进出记录"></activity>
    </application>

</manifest>